a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  background-color: #f037a5;
  background-image: linear-gradient(
    rgb(240, 55, 165) -60%,
    rgb(250, 230, 45) 140%
  );
  /* min-height: 100vh; */
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.container-header {
  width: 100%;
  /* height: 80px; */
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-top ul {
  display: flex;
  align-self: flex-end;
}
.menu-top ul li {
  margin-right: 20px;
}
.logo a span svg {
  width: 150px;
  fill: #fff;
}
.menu-top ul li a {
  padding: 13px 0;
  font-size: 1.125em;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
}
.menu-top ul li a:hover {
  color: #1db954;
}
.menu-separator::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background: #fff;
}

.home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 auto;
  width: 1610px;
  height: 1523px;
  background: url("https://www.scdn.co/i/home/hero-burst.svg") no-repeat;
  background-position: top -410px center;
  transform: translate(-50%, 0%);
}
.hero-call-action {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 200px; */
}

.hero-call-action h1 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.hero-call-action h4 {
  font-size: 1.225em;
  color: #fff;
  margin-bottom: 30px;
}
.btn {
  font-size: 0.875em;
  line-height: 1px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 32px 100px 34px;
  border-radius: 500px;
  letter-spacing: 2px;
}

.btn-hero {
  width: 250;
  align-self: center;
}

.btn-green {
  background-color: #1db954;
}

footer {
  background: #000;
}

.menu-footer {
  display: flex;
  width: 100%;
  padding: 100px 0;
  color: #fff;
}

.menu-footer .logo {
  flex-grow: 1;
}
.links {
  flex-grow: 10;
}
.links {
  display: flex;
  justify-content: space-around;
}
.links .link-header {
  margin: 20px 0;
  color: #919496;
  font-weight: bold;
  text-transform: uppercase;
}
.links .link-item {
  font: 1.125em;
  margin-bottom: 20px;
}

.menu-footer .social {
  width: 300px;
}

.social ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: flex-start;
  margin-top: 10px;
}
.social ul li {
  height: 50px;
  width: 50px;
  display: inline-block;
  background: orangered;
}

.social ul li::after {
  content: "Icon social";
  color: #000;
}
